<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>Alcology</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Alcology</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="/">Хоум</a>
                <a class="nav-link" href="/contacts">Контакты</a>
                <a class="nav-link" href="/cats">Видео с котятами</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Место, где выбор столь велик, а бла бла бла бла бла</h1>
            <p class="lead">Алкология подскажет что выпить сегодня вечером (или утром)</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary">Начать</a>
            </p>

          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Чрезмерное употребление алкоголя вредит вашему здоровью<p>
              <p>Сайт разработан в рамках обучения на курсах <a href="https://learn.python.ru">Learn Python 6</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>
    
  </body>
</html>
